body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.weather-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

input[type="text"], button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}
