body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
}
#task {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
  }
#timer {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.paused {
  background-color: yellow;
}
