body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}
.pokemon-container {
    background: #f7f7f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
#pokedexIdInput, #searchButton {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}
#searchButton {
    background-color: #fd6d26;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#pokemonDisplay {
    margin-top: 20px;
}
#loading {
    display: flex;
    justify-content: center;
}
#loadingGif {
    width: 200px;
    height: 250px;
    object-fit: contain;
    display: none;
}